* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
    color: black;
    width: 100%;
}

header {
    background-color: black;
    text-align: center;
    padding: 40px 20px 10px 20px;
    color: white;
    width: 100%;
}

header h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

header p {
    color: lightgray;
    font-size: 15px;
}

nav {
    background-color: #222222;
    text-align: center;
    padding: 20px 20px 45px 20px;
    margin-bottom: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 35px;
    font-size: 16px;
    font-weight: normal;
}

main {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

main section {
    background-color: white;
    padding: 35px;
    border-radius: 8px;
    flex: 1;
}

main section h2 {
    color: black;
    font-size: 26px;
    margin-bottom: 20px;
}

main section p {
color: dimgray;
font-size: 15px;
line-height: 1.6;
margin-bottom: 30px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 60px;
    color: gray;
    font-size: 14px;
}